html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background-color: rgb(31, 31, 31);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border-radius: 5px;
  height: 80%;
}



